/* reset */

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
i,
em {
  font-style: normal;
}

strong,
b {
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
}

h1 {
  line-height: 0.8em
}

/* font */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");

/* ----------------------------- */


/* layout */

.contents_wrap {}

.contents_wrap>div {
  height: 100vh;
}

.intro {
  position: relative;
  font-family: Pretendard;
  overflow: hidden;
}

.intro h1 {
  padding-right: 20px;
}

.introTypo {
  width: 1100px;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateY(-40%)translateX(-50%);
  line-height: 0.79;
  font-weight: 900;
  font-size: 11rem;
  color: #0d32ff;
}

@keyframes typeani {
  0% {
    border-right: 0.09em solid #0d32ff;
  }

  50% {
    border-right: 0.09em solid transparent;
  }

  100% {
    border-right: 0.09em solid #0d32ff;
  }
}


/* ------------------------------------ */

.introTypo h1 {
  overflow: hidden;
  display: inline;
  font-weight: 900;
  animation: typeani 1s linear 0s infinite;
}


/* --------------------------------------- */

.intrologo>img {
  display: block;
  width: 74px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
  animation: logomove 5s linear 0s infinite;
  cursor: pointer;
}

@keyframes logomove {
  0% {
    transform: translateY(30%);
  }

  50% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(30%)
  }
}

.introiconM {
  width: 274px;
  position: absolute;
  top: 60%;
  right: 24%;
}

.intro>ul {
  display: flex;
  position: absolute;
  top: 22%;
  left: 21.5%;
}

.intro>ul>li {
  width: 48px;
  height: 48px;
  background: #0d32ff;
  border-radius: 50%;
  position: relative;
  margin-right: 26px;
}

.intro>ul>li:last-of-type {
  margin-right: 0;
}



.intro>ul>li>i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 660px;
}

.Iphone {
  width: 200px;
  margin-right: 30px;
  padding-top: 100px;
  /* height: 400px; */
}

.Ipc {
  width: 580px;
}

.Itab {
  width: 320px;
  margin-top: 30px;
  margin-left: 30px;
}

/* sidemenu------------------------------------------- */

nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 600px;
  height: 100vh;
  background: #0d32ff;
  transition: all 0.7s ease 0s;
  box-sizing: border-box;
  font-family: Pretendard;
  border-bottom: 80px solid #fff;
  transform: translateX(100%);
  z-index: 100;
}

nav.on {
  transform: translateX(0%);
}

.gnb {}

.gnb>li>a {
  text-align: center;
  display: block;
  font-size: 7rem;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  line-height: 86%;
  transition: all 0.2s ease 0s;
  letter-spacing: -3px;
}

.gnb>li>a:hover {
  color: #fff;
}

.sideM {
  fill: #fff;
  width: 110px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 90px;


}

.sideclose {
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
  padding: 10px 0 0 20px;
}

/* --------------------------------------- */

.about {
  position: relative;
}

.typo {
  height: 50vh;
  background: #0d32ff;
  font-family: Pretendard;
  color: #fff;
}

.typo>h2 {
  font-size: 10.5rem;
  font-weight: 900;
  line-height: 0.79;
  position: absolute;
  top: 0;
  left: 30%;
  margin-top: 6px;
  transform: translateX(-30%);
}

.typo>ul {
  display: flex;
  position: absolute;
  font-size: 1.4rem;
  left: 25%;
  transform: translate(-35%, -29%);
  top: 29%;
  padding-top: 10px;
}

.typo>ul>li {
  padding: 4px;
  opacity: 0;
}

.typo>ul>li:nth-of-type(1) {
  transition: all 0.5s ease 0s;
}

.typo>ul>li:nth-of-type(2) {
  transition: all 0.5s ease 0.25s;
}

.typo>ul>li:nth-of-type(3) {
  transition: all 0.5s ease 0.5s;
}

.typo>ul>li:nth-of-type(4) {
  transition: all 0.5s ease 0.75s;
}

.typo>ul>li:nth-of-type(5) {
  transition: all 0.5s ease 1s;
}

.typo>ul>li.on {
  transform: translate(0px);
  opacity: 1;
}

.about svg {
  width: 540px;
  position: absolute;
  bottom: 50%;
  right: 20%;
}

#nametxt path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 1.5;
}

#nametxt.on path {
  stroke-dashoffset: 0 !important;
}




/* ----------------------------------------- */



.profile {
  height: 50vh;
  background: #fff;
  overflow: hidden;
}

/* .profile dl{display: flex;} */

.profile ul.certLi {
  width: 358px;
  display: flex;
}

.profile ul>li {
  flex: 1;
}

.grid {
  background-size: 71px 70px;
  background-image: linear-gradient(90deg, #0d32ff 1px, transparent 1px), linear-gradient(90deg, #0d32ff 1px, transparent 1px), linear-gradient(#0d32ff 1px, transparent 1px), linear-gradient(#0d32ff 1px, transparent 1px);
}

.aboutme {
  margin-top: 70px;
  margin-left: 356px;
  font-family: Pretendard;
  font-size: 1.3rem;
  font-weight: 600;
}



.profile dt {
  display: inline-block;
  width: 75px;
  vertical-align: top;
  line-height: 26px;
  text-align: justify;
  margin-right: 100px;

}

.profile dt:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.profile dd {
  display: inline-block;


  vertical-align: top;
  line-height: 26px;
  letter-spacing: -0.2px;
}



.profile ul.skillslist {
  width: 480px;
  display: flex;
}

.profile ul.skillslist>li {
  margin-right: 30px;


}





/* ---------------------------------------- */

.design {
  position: relative;
  font-family: Pretendard;
}

.Dtop {
  height: 50vh;
  background: #fff;

  color: #0d32ff;
  position: relative;
}

.design>.grid {
  background-size: 71px 70px;
  background-image: linear-gradient(90deg, #0d32ff 1px, transparent 1px), linear-gradient(90deg, #0d32ff 1px, transparent 1px), linear-gradient(#0d32ff 1px, transparent 1px), linear-gradient(#0d32ff 1px, transparent 1px);
}

.Dtop>h1 {
  font-size: 30rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Dbottom {
  height: 50vh;
  background: #0d32ff;
  position: relative;
}


.Dbottom .desP {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}

.Dbottom .fileimg {
  display: flex;
  width: 700px;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translate(-8%, -50%);
}

.Dbottom li {

  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  transition: all 0.5s ease 0s;
}

.Dbottom>p {
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
}

.Dbottom img {
  width: 180px;
  object-fit: cover;
}

.click>p {
  font-family: 'Gaegu', cursive;
  position: absolute;
  top: 61%;
  left: 47%;
  color: #fff;
  font-size: 2rem;
  animation: clickme 1s cubic-bezier(0.25, 0.1, 0.81, 1.14) 0s infinite alternate
}

.click>svg {
  position: absolute;
  top: 60%;
  left: 50%;
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-dasharray: 15;
  width: 100px;
  animation: blink-effect 1s step-end infinite;

}

@keyframes clickme {
  50% {
    rotate: 10deg;
  }
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}











/* -----------------------------------------*/

.contact {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: #0d32ff;
  color: #fff;
}

.contact span:nth-of-type(1) {
  display: block;
  width: 100%;
  height: 10px;
  background: transparent;
  margin-bottom: 40px;
}

.contact span:nth-of-type(2) {
  display: block;
  width: 100%;
  height: 10px;
  background: #fff;
}

.contact span:nth-of-type(3) {
  display: block;
  width: 100%;
  height: 10px;
  background: transparent;
  position: absolute;
  bottom: 0;
}

.contact span:nth-of-type(4) {
  display: block;
  width: 100%;
  height: 10px;
  background: #fff;
  position: absolute;
  bottom: 40px;
}

.conCenter>img:nth-of-type(1) {
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.conCenter>img:nth-of-type(2) {
  width: 600px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.contactline {
  width: 100%;
  height: 3px;
  color: #fff;
  display: inline-block;
}

.contact>p:nth-of-type(1) {
  font-family: 'Shrikhand', cursive;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -14%);
  font-size: 2.1rem;
}

.contact>p:nth-of-type(2) {
  font-family: 'Alfa Slab One', cursive;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  rotate: 90deg;
  font-size: 1.6rem;
}

.contact>p:nth-of-type(3) {
  font-family: 'Alfa Slab One', cursive;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(5%);
  transform: translateY(-50%);
  rotate: 270deg;
  font-size: 1.6rem;
}

.contact>p:nth-of-type(4) {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  font-weight: 900;
  font-size: 1.43rem;
}

.contact>.conCenter>p {
  position: absolute;
  font-family: 'Alfa Slab One', cursive;
  color: #f9d641;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  font-size: 2.7rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0d32ff;
}



/* scroll------------------------------------ */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0d32ff;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f9d641;
}


/* popup----------------------------------------------------------- */


.whitebackground {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.79);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  display: none;
}

.whitebackground.on {
  display: block;
  pointer-events: auto;
}

.popup_page {
  height: 90vh;
  width: 90vw;
  background: #fff;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* 목업이미지 */
.popup_page>.Pmockup>img {
  position: absolute;
  width: 590px;
  margin-left: 100px;
  margin-top: 100px;
}

/* 팝업이미지 */
.popup_page .popupL img {
  width: 544px;
  object-fit: cover;
}

/* 왼쪽기차div영역 */
.popupL {
  width: 544px;
  height: 544px;
  position: absolute;
  top: 266px;
  left: 123px;
}

/* 기차ul */
.poptrain {
  width: 100%;
  height: 100%;
  position: relative;

}


.poptrain>li {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: all 0.5s ease 0s;
}

.poptrain>li.on {
  opacity: 1;
  pointer-events: auto;
}


.popup_exp {
  position: absolute;
  top: 20%;
  right: 20%;
  font-family: Pretendard;
}

.popup_exp dt {
  font-size: 1.6rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.popupR span.popclose {
  font-size: 3rem;
  color: #0d32ff;
  position: absolute;
  margin: 10px;
}

.font {
  display: flex;
}

.font>li {
  margin-right: 20px;
  box-sizing: border-box;
}

.font>li:last-of-type {
  margin-right: 0;
}

.popup_exp dd {
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.colorList {
  display: flex;
}

.colorList>span {
  margin-right: 10px;
}

.popup_page.on {
  opacity: 1;
}


/* ------------------------------------------------ */

.whitebackground2 {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.79);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  display: none;
}

.whitebackground2.on {
  display: block;
  pointer-events: auto;
}

.banner_page {
  background: #fff;
  height: 90vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.banner_page.on {
  opacity: 1;
}

.banner_page>.Bmockup>img {
  position: absolute;
  width: 1500px;
  left: 50%;
  transform: translateX(-50%);
}

/* 배너이미지 */
.banner_page .bannerT img {
  width: 1350px;
  object-fit: cover;
}

/* 왼쪽기차div영역 */
.bannerT {
  width: 1350px;
  height: 350px;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 22%;
  transform: translateX(-50%);
}

/* 기차ul */
.bannertrain {
  width: 400%;
  height: 100%;
  display: flex;
  position: relative;
  transition: all 1s ease 0s;
}


.bannertrain>li {
  width: 25%;
  height: 100%;
}

.bannertrain>li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 창닫기버튼 */
.popclose {
  color: #0d32ff;
  font-size: 4rem;
  cursor: pointer;
  padding: 10px 0 0 20px;
  z-index: 100;
}


/* 팝업 슬라이드 컨트롤러 */

.controler {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 125%;
  display: flex;
  justify-content: space-between;
}

.controler>a>i {
  font-size: 3rem;
  cursor: pointer;
  color: #0d32ff;
  z-index: 10000;
}

/* 배너슬라이드 컨트롤러 */

.Bcontroler {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -45%);
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.Bcontroler>a>i {
  font-size: 6rem;
  cursor: pointer;
  color: #0d32ff;
  z-index: 10000;
}

/* 창닫기버튼 */
.bannerclose {
  color: #0d32ff;
  font-size: 4rem;
  cursor: pointer;
  padding: 10px 0 0 20px;
  z-index: 100;
}

/* ------------------------------- */

.banner_exp {
  position: absolute;
  display: flex;
  position: absolute;
  top: 66%;
  left: 15%;
  font-family: Pretendard;
}

.banner_exp h3 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 30px;
}

.banner_exp p {
  font-size: 1.2rem;
}

.Bmockup ul {
  display: flex;
  font-family: Pretendard;
  position: absolute;
  top: 6%;
  transform: translate(-6%, );
  left: 19%;
  font-size: 1.4rem;
}

.Bmockup ul>li:nth-of-type(1) {
  margin-right: 110px;
}

.Bmockup ul>li:nth-of-type(2) {
  margin-right: 140px;
}

.Bmockup ul>li:nth-of-type(3) {
  margin-right: 80px;
}